{% extends 'base.html' %}
{% block title%}Resultado da busca{% endblock %}

{% block content %}
    <div class="container">
        <h2>Resultado - {{movies.count}}</h2>
            <div class="section">
            <div class="row">
            {% for f in movies %}
                <div class="col-xs-6 col-md-3">
                  <a href="/filme/{{f.nome}}" class="a-movie"><div class="thumbnail">
                    <img src="{{f.image}}" alt="{{f.nome}}">
                    <div class="caption">
                      <h4>{{f.nome|truncatechars:30}}</h4>
                      <span class="added"><p>Add em - {{f.added|date:"b Y"}}</p></span>
                    </div>
                  </div></a>
                </div>
              {% endfor %}
              </div>
            </div>

            <div class="row">

              <nav class="paginator" aria-label="Page navigation">
                  <ul class="pagination">
  
                      {% if movies.has_previous %}
                          <li>
                              <a href="/?search={{search}}&page={{movies.previous_page_number}}&limit={{limit_atual}}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                      {% else %}
                          <li class="disabled">
                              <a href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                    {% endif %}
  
                    {% for num in movies.paginator.page_range %}
                      {% if num == movies.number %}
                          <li class="active"><a href="/?search={{search}}&page={{num}}&limit={{limit_atual}}">{{num}} <span class="sr-only">(current)</span></a></li>
                      {% else %}
                          <li>
                              <a href="/?search={{search}}&page={{num}}&limit={{limit_atual}}">{{num}}</a>
                          </li>
                      {% endif %}
                    {% endfor %}
  
                    {% if movies.has_next %}
                      <li>
                          <a href="/?search={{search}}&page={{movies.next_page_number}}&limit={{limit_atual}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                    {% else %}
                      <li class="disabled">
                          <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
  
          </div>
    </div>
{% endblock %}